In [1]:
import pandas as pd

In [2]:
data = {
    'cats':[3,5,3,2],
    'dogs':[5,3,8,4]
}

In [3]:
listView = pd.DataFrame(data)

listView

   cats  dogs
0     3     5
1     5     3
2     3     8
3     2     4

In [4]:
import random

In [5]:
random.seed(5)

In [6]:
print(random.randit(1,500))

AttributeError: module 'random' has no attribute 'randit'

In [7]:
print(random.randint(1,500))

319

In [8]:
print(random.randint(1,500))

131

In [9]:
random.seed(5)
print(random.randint(1,500))

319

In [10]:
for i in range (6):
    random.seed(5)
    print(random.randint(1,200))
    random.seed(4)
    print(random.randint(1,300))

160
121
160
121
160
121
160
121
160
121
160
121